.systemtable {
    margin: 30px;
}
.settinginput{
    width: 70px;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.tempinput{
    width: 70px;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.spaceinput{
    width: 70px;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


.systemtable th {
    padding: 5px 20px 5px 5px;
}